* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  font-family: "Sono", sans-serif;
  color: #fafaf9;
  padding: 48px 64px;
}
/*  MAIN LAYOUT */

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 40px;
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 10px;
}
.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  /* text-align: center; */
  font-family: "Coiny";
}

.category {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.5;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  letter-spacing: -1px;
  border-radius: 16px;
}
.reaction-buttons {
  margin-left: auto;
  display: flex;
  gap: 7px;
  flex-shrink: 0;
}

.reaction-buttons button {
  border: none;
  background-color: #78716c;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
  border-radius: 100px;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}

.reaction-buttons button:hover {
  background-color: #292524;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny";
  padding: 4px 10px 9px 10px;
  border-radius: 100px;
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: #a8a29e;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.5s;
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 18px;
  padding: 16px 0 13px;
  background-image: linear-gradient(
    135deg,
    #3b82f6,
    #ef4444,
    #16a34a,
    #eab308,
    #8b5cf6,
    #db2777
  );
  color: inherit;
  transition: 0.4s;
  border-radius: 100px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

.fact-form input,
.fact-form select {
  width: 220px;
  border: none;
  background-color: #78716c;
  border-radius: 100px;
  font-size: 18px;
  padding: 16px;
  font-family: inherit;
  color: inherit;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 700;
  font-size: 18px;
  margin-right: 18px;
}
